.background-picture {
    height: 99vh;
    width: 99vw;
    background-image: url("../Images/coolhands.png");
    background-position: bottom; 
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}