/* ----------- this styling is for the volunteer view of the opportunity list-------------*/
.opportunity-title {
    text-align: center;
    font-size: 4em;
    margin-bottom: 1em;
}


.search {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1em;
}

.add {
    margin-left: 1em; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ----------- this styling is for the detail view of an opportunity-------------*/

.opportunity-detailview {
    width: 40em;
  margin-top: 2em, 2em, 2em, 2em;
}

/* ----------- this styling is for the opportunity form-------------*/

.opportunity-form {
    width: 50em;
    border: 2px solid black;
    margin-top: 2rem, 0, 0, 1rem;
    background-color: white;
}

.button-container {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
}
